*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'product sans', Verdana, Geneva, Tahoma, sans-serif;
}

.artBody h1{
padding-bottom:1rem;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap:0px;
  }
  
   .item { 
    background: #eee;
    border: 1px solid #ddd;
    grid-column: 200px;
  }

  .artBody{
    padding:1rem;
    background-color: grey;
  }
  
  /* TABLET DEVICE SCREEN */
  @media (max-width:1024px){
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-gap:0rem;
      }
    }

  /* MOBILE DEVICE SCREEN */
  @media (max-width:600px){
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 200px);
        grid-gap:0rem;
      }
    }