/*RESETTING DEFAULT STYLING*/
* {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova-rg', 'work sans', 'product sans';
}

:root {
  --projectInfoSectionWidth: 30vw;
  --HeaderHeight: 5vh;
  --rightMarginSpace: 2%;
  --imageWidthAndheight: 4rem;
}

span img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.closeButton {
  top: 0;
  right: 0;
  margin: 0.5rem;
  position: absolute;
  background-color: white;
  place-items: center;
  height: 50px;
  width: 50px;
  display: grid;
  border-radius: 50%;
  cursor: pointer;
}

.projectInformation {
  margin-top: 2rem;
  width: 100%;
}

div.advert {
  background-color: grey;
  border: 1px solid whitesmoke;
}

.projectInformation span {
  display: inline-block;
  background-color: rgb(53, 53, 53);
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  color: white;
  margin: 0.25rem 0.4rem;
  margin-left: 0;
}

/*ADDING LOGO TO EACH SOFTWARE TAG*/
.projectInformation span {
  display: inline-flex;
}

.content {
  overflow: hidden;
  max-height: 150px;
}

.authorInfo.advertSales {
  display: block;
}

.authorInfo {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.authorInfo.aboutProject {
  flex-direction: column;
  display: block;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
.authorInfo.aboutProject p {
  padding-top: 0.2em;
  padding-bottom: 4em;
}

.advert {
  margin-top: 0.5rem;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid grey;
}

.caption {
  color: white;
  border: 1px solid red;
  padding: 1rem 0;
  margin-bottom: 2rem;

  text-align: center;
}

.authorSocials p {
  font-size: 0.9rem;
}

.authorImage {
  background-image: url(./MY-PROFILE--Sharp.jpg);
  background-size: contain;
}

/* Style for the modal images */
#modalImages {
  max-height: 90vh; /* Set a maximum height for the modal content */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

#modalImages img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

button {
  padding: 7px 15px;
  cursor: pointer;
  /* border-radius:.5em; */
}

.authorImage {
  border-radius: 50%;
  min-width: var(--imageWidthAndheight);
  height: var(--imageWidthAndheight);
  background-color: white;
}

.contentDisplayArea {
  width: calc(100% - var(--projectInfoSectionWidth) - var(--rightMarginSpace));
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0%;
}

.image-container {
  position: relative;
  height: 600px;
  border: 1px solid blue;
}

video {
  height: 70%;
}

.image-container img {
  margin-top: 2rem;
  width: 100%;
  height: 80% !important;
  object-fit: contain;
}

.inner-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.DownloadButton,
.ViewFullScreen {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0.2rem;
  margin: 0.5rem;
}

.DownloadButton:hover,
.ViewFullScreen:hover {
  cursor: pointer;
}

.extraFeature {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.extraFeature span {
  color: white;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}

/* Show .extraFeature on hover */
.image-container:hover .extraFeature {
  opacity: 1;
}

.leftArrowController,
.rightArrowController {
  position: fixed;
  cursor: pointer;
  top: 50%;
  display: grid;
  z-index: 1;
  place-items: center;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  min-width: 50px;
}

.leftArrowController {
  left: 0.5rem;
  transform: translate(50%, -50%);
}

.rightArrowController {
  left: calc(100% - var(--projectInfoSectionWidth) - var(--rightMarginSpace));
  transform: translate(-200%, -50%);
}

.leftSection {
  background-color: black;
  position: relative;
  width: 100%;
  max-height: 90vh;
}

.rightSection {
  position: fixed;
  top: 3%;
  right: var(--rightMarginSpace);
  width: var(--projectInfoSectionWidth);
  border-radius: 1rem;
  background-color: grey;
  border: 1px solid black;
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}

.modal-featureProjectDetails {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.295);
  height: calc(100vh - var(--HeaderHeight) - 6vh);
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 0;
  display: none;
}

.modal-featureProjectDetails.active {
  z-index: 2;
  display: flex;
}

body,
.AllContainer {
  position: relative;
}

header {
  height: var(--HeaderHeight);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  max-height: 60vh;
}

/*HEADER STYLING*/
header {
  height: 8vh;
  background-color: grey;
  padding: 1rem;
}

.w-6.h-6 {
  width: 1rem;
  height: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}

.grid-item {
  border: 1px solid grey;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.grid-item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.212);
  min-height: 100%;
  width: 100%;
  z-index: 1;
}

.overlay {
  padding: 0.5rem;
}

.overlay span {
  background-color: white;
  padding: 2px 2px;
  border-radius: 1rem;
  min-width: 1rem;
  width: 1rem;
  min-height: 1rem;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  flex-direction: row;
  /* place-items: center; */
  display: flex;
}

.grid-item img {
  transition: 300ms;
}

.grid-item:hover img {
  transform: scale(1.2);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#modalImages {
  min-width: 100%;
  width: 100%;
  padding-right: calc(
    var(--projectInfoSectionWidth) + 1.5 * (var(--rightMarginSpace))
  );

  max-height: 90vh;
  box-sizing: content-box;

  overflow-y: auto;
  position: relative;
}

/*Trying to place the img vertically in the center*/
#modalImages img {
  padding-left: 0;
}

/*Trying to place the video in the center*/
#modalImages video {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 2rem 0rem;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .rightSection {
    border-radius: 0.8rem;
  }

  .modal-featureProjectDetails {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-featureProjectDetails {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    /* grid-template-rows: auto; */
  }

  .rightSection {
    border-radius: 0.8rem;
    order: -1;
  }
}
