/*RESETTING DEFAULT STYLING*/
* {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova-rg', 'work sans', 'product sans';
}

:root {
  --projectInfoSectionWidth: 30vw;
  --HeaderHeight: 5vh;
  --rightMarginSpace: 2%;
  --imageWidthAndheight: 4rem;
}

span img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.closeButton {
  top: 0;
  right: 0;
  margin: 0.5rem;
  position: absolute;
  background-color: white;
  place-items: center;
  height: 50px;
  width: 50px;
  display: grid;
  border-radius: 50%;
  cursor: pointer;
}

.projectInformation {
  margin-top: 2rem;
  width: 100%;
}

div.advert {
  background-color: grey;
  border: 1px solid whitesmoke;
}

.projectInformation span {
  display: inline-block;
  background-color: rgb(53, 53, 53);
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  color: white;
  margin: 0.25rem 0.4rem;
  margin-left: 0;
}

/*ADDING LOGO TO EACH SOFTWARE TAG*/
.projectInformation span {
  display: inline-flex;
}

.content {
  overflow: hidden;
  max-height: 150px;
}

.authorInfo.advertSales {
  display: block;
}

.authorInfo {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.authorInfo.aboutProject {
  flex-direction: column;
  display: block;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
.authorInfo.aboutProject p {
  padding-top: 0.2em;
  padding-bottom: 4em;
}

.advert {
  margin-top: 0.5rem;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid grey;
}

.caption {
  color: white;
  /* border: 1px solid red; */
  padding: 1rem 0;
  margin-bottom: 2rem;

  text-align: center;
}

#modalImages img {
  margin-top: 2rem;
}

.authorSocials p {
  font-size: 0.9rem;
}

.authorImage {
  background-image: url(./author/silas_profile1.jpg);
  background-size: contain;
}

#modalImages img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

button {
  padding: 7px 15px;
  cursor: pointer;
  /* border-radius:.5em; */
}

.authorImage {
  border-radius: 50%;
  min-width: var(--imageWidthAndheight);
  height: var(--imageWidthAndheight);
  background-color: white;
}

.contentDisplayArea {
  width: calc(100% - var(--projectInfoSectionWidth) - var(--rightMarginSpace));
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0%;
}

/*IMAGE CONTAINER STYLING*/
.image-container {
  position: relative;
  height: 75vh;
}

.image-container img {
  width: 100%;
  height: 80% !important;
  object-fit: contain;
}

.inner-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  background-color: rgb(3, 3, 3);
  padding: 0.3rem 0rem;
  border-radius: 0.5rem;
}

/*VIDEO BOX STYLING*/
video {
  height: 70%;
}

#modalImages video {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 2rem 0rem;
}

/*ACTION FIELD DOWNLOAD AND VIEW FULL SCREEN*/
.DownloadButton,
.ViewFullScreen {
  background-color: rgb(44, 44, 44);
  margin: 0;
  color: rgb(255, 255, 255);
}

.inner-div span {
  padding: 0.5rem 1rem;
}

span.DownloadButton {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

span.ViewFullScreen {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.DownloadButton:hover,
.ViewFullScreen:hover {
  cursor: pointer;
}

.extraFeature {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.extraFeature span {
  color: white;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}

/* Show .extraFeature on hover */
.image-container:hover .extraFeature {
  opacity: 1;
}

/*NAVIGATOR LEFT ARROW AND RIGHT ARROW*/
.leftArrowController,
.rightArrowController {
  position: fixed;
  cursor: pointer;
  top: 50%;
  display: grid;
  z-index: 1;
  place-items: center;
  background-color: rgb(70, 70, 70);
  border-radius: 50%;
  height: 50px;
  color: white;
  min-width: 50px;
  transition: all 300ms;
}

.leftArrowController:hover,
.rightArrowController:hover {
  color: rgb(31, 30, 30);
  background-color: rgba(110, 110, 110, 0.829);
}

.leftArrowController {
  left: 0.5rem;
  transform: translate(50%, -50%);
}

.rightArrowController {
  left: calc(100% - var(--projectInfoSectionWidth) - var(--rightMarginSpace));
  transform: translate(-200%, -50%);
}

/* PROJECT LIGHT BOX SECTION */
.leftSection {
  background-color: black;
  position: relative;
  width: 100%;
  max-height: 90vh;
}

/* PROJECT INFORMATION SECTION */
.rightSection {
  position: fixed;
  top: 3%;
  right: var(--rightMarginSpace);
  width: var(--projectInfoSectionWidth);
  border-radius: 1rem;
  background-color: grey;
  border: 1px solid black;
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}

/* PROJECT INFORMATION MODAL BOX*/
.modal-featureProjectDetails {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.295);
  height: calc(100vh - var(--HeaderHeight) - 6vh);
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 0;
  display: none;
}

.modal-featureProjectDetails.active {
  z-index: 2;
  display: flex;
}

/*BODY AND CONTAINER*/
body,
.AllContainer {
  position: relative;
  padding: 0rem 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(16, 16, 20, 1) 52%
  );
}

header {
  height: var(--HeaderHeight);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  max-height: 60vh;
}

/*HEADER STYLING*/
header {
  height: 8vh;
  /* background-color: grey; */
  padding: 1rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}

.grid-item {
  border: 3px solid rgb(26, 25, 25);
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.grid-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  min-width: 100%;
  min-height: 100%;
  background: rgba(39, 39, 39, 0.219);
  z-index: 1;
}

.overlay {
  padding: 0.5rem;
}

.overlay span {
  margin-right: 0.2rem;
}

/*SVG STYLING FORMATTING*/
.w-6.h-6 {
  width: 1rem;
}

.svgMediaIcons {
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(29, 27, 27);
  aspect-ratio: 1/1;
  padding: 0.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.overlaySpanFlex {
  display: flex;
}

.grid-item img {
  transition: 300ms;
}

.grid-item:hover img {
  transform: scale(1.2);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#modalImages {
  min-width: 100%;
  width: 100%;
  padding-right: calc(
    var(--projectInfoSectionWidth) + 1.5 * (var(--rightMarginSpace))
  );

  max-height: 89vh;
  box-sizing: content-box;

  overflow-y: auto;
  position: relative;
}

/*Trying to place the img vertically in the center*/
#modalImages img {
  padding-left: 0;
}

/* Scroll Bar Styling - LIGHT BOX*/
.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(49, 47, 47);
}

.content::-webkit-scrollbar {
  width: 15px;
  border-radius: 12px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 12px;
}

/* Scroll Bar Styling - ProjectInforamtion*/
.rightSection::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(92, 90, 90);
  border-radius: 0px 12px 12px 0px;
}

.rightSection::-webkit-scrollbar {
  width: 12px;
  border-radius: 12px;
  background-color: #424141;
}

.scrollbar::-webkit-scrollbar-thumb,
.rightSection::-webkit-scrollbar-thumb {
  background-color: #242222;
  border-radius: 12px;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .rightSection {
    border-radius: 0.8rem;
  }

  .modal-featureProjectDetails {
    grid-template-columns: 2fr 1fr;
  }
}

/*LOWEST MEDIA DEVICE (mobile or smallt tablet)*/
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-featureProjectDetails {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    /* grid-template-rows: auto; */
  }

  .rightSection {
    border-radius: 0.8rem;
    order: -1;
    position: absolute;
    width: 95% !important;
    overflow: hidden;
    height: 20vh;
    right: 1rem;
    left: 0.5rem;
    top: 0%;
    border-radius: 0.5rem;
  }

  #modalImages {
    padding-right: 0;
  }

  .contentDisplayArea {
    width: 100%;
    margin-top: 20vh;
  }

  .leftArrowController,
  .rightArrowController {
    top: 24vh;
    left: 0;
    z-index: 2;
    background-color: transparent;
  }

  .rightArrowController {
    right: 0%;
    left: 100%;
  }

  .rightArrowController::after {
    content: ' Next';
    width: 100px;
    top: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .leftArrowController::before {
    content: ' Previous';
    width: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
  }

  .authorInfo.socials {
    padding-top: 0;
  }

  /* .modal-featureProjectDetails {
    max-height: 500px;
  } */
}
