/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'product sans', Verdana, Geneva, Tahoma, sans-serif;
}

/* Header styles */
header {
  background-color: rgb(80, 80, 80);
  color: white;
  /* text-align: center; */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* Main content styles */
main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#viewer {
  flex: 1;
  background-color: white;
  padding: 1rem;
  padding-left:2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 78vh; /*Just as place holder but to allow */
  overflow-y: scroll;
}

.grid-2-column{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

ol li{
  padding:.5rem .5rem;
}

ol{
  padding-left:1rem;
}

.feature-list:nth-child(even){
  padding:1rem;
  background-color: rgb(163, 163, 163);
  border: 1px dashed black;
  border-left:none;
  border-right:none;
}

.feature-list:nth-child(odd){
  padding:1rem;
  background-color: rgb(209, 207, 207);
  border: 1px dashed black;
  border-left:none;
  border-right:none;
}

#project-list {
  flex: 0.3;
  background-color: #f4f4f4;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#project-list h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#project-list ul {
  list-style: none;
  padding: 0;
}

#project-list li {
  /* margin: 0.5rem 0; */
  cursor: pointer;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
}
nav li.hidden {
  display: none;
}
#project-list li:last-child {
  border-bottom: 1px solid #ddd;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

/* Navigation styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: white;
  border: 3px solid grey;
}

nav li {
  cursor: pointer;
  padding: 1rem;
  min-width: 16px;
  width: 100px;
  text-align: center;
}

nav li:hover {
  background-color: #efefef;
}

#project-list li{
  position: relative;
  padding-left:.8rem;
}

/*if current project is the one that has its image displayed on the image containter, then add the active class to its li element*/
#project-list li.active {
  background-color: rgb(80, 80, 80);
  color: white;
}

/* Device toggle button styles */
nav li.active {
  background-color: rgb(59, 59, 59);
  color: white;
}

.active-icon{
  stroke:white;
}

img.svgListStyle.filtered{
  filter:brightness(100%) grayscale(100%) invert(100%);
}

.arrow-button:hover {
  background-color: #efefef;
}

.navigation--arrow--section {
  display: flex;
  margin-left: 1rem;
  background-color: white;
  border: 3px solid grey;
}

.navigation--arrow--section,
nav li,
nav ul {
  border-radius: 50px;
  border-radius: 0px;
}

/* Body styles to ensure full viewport height */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content styles */
main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-height: 100%; /* Set the maximum height of the main content to 100% */
}





#project-list ul li{
  position:relative;
}

.actionIcons{
  min-width:1rem;
  min-height:1rem;
  stroke:white;
  position:absolute;
  bottom:0;
  right:.5rem;
}

.svgListStyle{
  stroke: rgba(54, 54, 54, 0.527);
  stroke:black;
  width:1.5rem;
  height:1.5rem;
}

.svgListStyle:hover {
  stroke:black;
}


#project-list li {
  display: block;
}